.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}
.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    min-width: 400px;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
}