.section {
    margin: 50px auto;
}
.form {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 12px;
}
.input {
    padding: 9.5px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid rgb(16, 105, 165);
    font-family: 'Titillium Web', sans-serif;
}
.input:focus {
    outline: none;
}
.submit {
    padding: 9.5px 24px;
    background-color: rgb(16, 105, 165);
    border: 1.5px solid rgb(16, 105, 165);
    border-radius: 5px;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.submit:hover {
    background-color: #fff;
    color: rgb(16, 105, 165);
}
.error {
    font-size: 15px;
    color: #900;
    // text-align: center;
}