.title {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: rgb(14, 107, 168);
}
.map {
    margin: 15px auto;
    width: 600px;
    height: 400px;
    background-color: aquamarine;
}