$blue: rgba(26, 26, 75, 1);
$dark-red: rgba(47, 15, 44, 1);
$red: rgba(76, 0, 0, 1);

.main {
    margin: 20px 0;
}
.name {
    text-align: center;
    font-weight: 600;
    font-size: 27px;
}
.email {
    text-align: center;
    font-size: 17px;
}
.button {
    display: block;
    padding: 8px 25px;
    margin: 6px auto;
    background: linear-gradient(99deg, $blue 0%, $dark-red 50%, $dark-red 100%);
    color: #fff;
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
    border: 1.5px solid $blue;
    border-radius: 4px;
    transition: background-color 0.4s ease-in, color 0.2s ease-out;
    cursor: pointer;
}
.button:hover {
    background: linear-gradient(99deg, $blue 0%, $dark-red 50%, $dark-red 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    background-color: #fff;
}
.form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin: 10px auto;
    width: 300px;

    a {
        text-decoration: underline;
        color:rgb(44, 44, 114);
    }
    p {
        text-align: center;
    }
}
.input {
    display: block;
    padding: 3px 2px;
    border: none;
    border-bottom: 2px solid $dark-red;
    font-size: 17px;
    font-family: 'Titillium Web', sans-serif;
}
.input:focus {
    outline: none;
}
.heading {
    font-size: 2rem;
    text-align: center;
    background: linear-gradient(99deg, $blue 0%, $red 50%, $dark-red 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}